.root {
    -fx-background-color: #EEEEEE;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: #363636;
    -fx-effect: dropshadow( gaussian , rgba(55,55,55,0.5) , 0,0,0,1 );
}

.label-bright {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: #EEEEEE;
    -fx-effect: dropshadow( gaussian , rgba(55,55,55,0.5) , 0,0,0,1 );
}

.button {
    -fx-background-color: #4CD374;
}

.button:hover {
    -fx-background-color: #5DE485;
}

.button:pressed {
    -fx-background-color: #EEEEEE;
}

.text-field:focused {
    -fx-border-color: #5DE485;
    -fx-focus-color: #5DE485 ;
}

.table-view:focused{
    -fx-border-color: #5DE485;
}

.table-row-cell:selected {
    -fx-background-color: #5DE485;
}